@import "../../app.scss";

#adminExams {
    padding: 50px;
    width: 100%;
    min-height: 100vh;

    > h2 {
        color: $dark-color;
    }

    > .btn-row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 15px 0;

        > a {
            background-color: $accent-color;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
        }
    }
}

#exams-actions-row {
    display: flex;
    gap: 10px;

    > a:nth-child(1) {
        padding: 5px 10px;
        background-color: $accent-color;
        border-radius: 2px;
        color: white;
    }

    > a:nth-child(2) {
        padding: 5px 10px;
        background-color: $dark-color;
        border-radius: 2px;
        color: white;
    }
}
