@import "../../../app.scss";


.expense{
    h2{
        color: $dark-color;
        margin-bottom: 30px;
    }
    .expense-row{

        #expense{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
            background-color: white;
            height: 100px;
            border-radius: 5px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
       
        

    }
}