@import "../../../app.scss";

.login {
    background-color: $accent-color;

    .row {
        margin: 50px auto;
        width: 40%;
        background-color: white;
        @include flexCenter();
        padding: 50px;
        border-radius: 5px;

        > form {
            width: 100%;
            position: relative;

            a {
                text-align: center;
                color: $accent-color;
            }
        }
    }
}

form > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.show {
    display: flex;
}

.hide {
    display: none;
}
label {
    font-size: 14px;
    font-weight: 600;
}

.pass-icon {
    position: absolute;
    right: 15px;
    top: 130px;
    cursor: pointer;
    color: $dark-color;
}

@media screen and (max-width: 768px) {
    .login {
        padding: 30px;
        .row {
            margin: 50px auto;
            width: 100%;
            background-color: white;
            @include flexCenter();
            padding: 25px;
            border-radius: 5px;

            > form {
                width: 100%;

                a {
                    text-align: center;
                    color: $accent-color;
                }
            }
        }
    }
}
