@import "../../../app.scss";

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;

  .logo {
    width: 100px;
  }
  ul {
    display: flex;
    gap: 5vw;

    li > a {
      color: $dark-color;
      font-weight: 450;
    }
  }
}
