@import "../../app.scss";

.class {
    width: 100%;
    height: auto;
    padding: 50px;
    > .row {
        > h2 {
            margin-bottom: 20px;
            color: $dark-color;
        }

        .btn-row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;

            > a {
                @include primaryBtn();
                text-align: center;
                background-color: $accent-color;
                color: white;
            }
        }
        width: 100%;
        height: 100vh;
    }
}
.schedule-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#create-class {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > label {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;
        color: $dark-color;
    }
    > button {
        margin-top: 10px;
        @include primaryBtn();
        background-color: $accent-color;
        color: white;
    }
}

#update_class {
    width: 100%;
    min-height: 100vh;
    padding: 50px;

    > h2 {
        color: $dark-color;
    }

    > .row {
        margin-top: 20px;
    }
}

#class-details {
    padding: 50px;
    width: 100%;
    min-height: 100vh;

    > h2 {
        color: $dark-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    > .details {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > p {
            font-size: 16px;
            font-weight: 500;
            > span {
                font-size: 16px;
                font-weight: 650;
                color: $accent-color;
                margin-right: 5px;
            }
        }
    }
}
