
.students-row{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#student{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    > #links{
        img{
            width: 25px;
            height: 25px;
        }
    }
}