@import "../../../app.scss";

.fee-r-row{
    h2{
        color: $dark-color;
        margin-bottom: 30px;
    }

    #fee-record{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        padding: 0 50px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}