@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$accent-color: #047f6b;
$transparent-accent-color: rgba(4, 127, 106, 0.192);
$dark-color: #333333;
$transparent-dark-color: #33333325;
$light-color: #f8f5f5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  display: none;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: $accent-color;
}

h3 {
  color: $dark-color;
  font-weight: 600;
}

p {
  text-align: justify;
  color: $dark-color;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 20px 50px;
  @include flexCenter();
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  background-color: $transparent-accent-color;
  border-radius: 3px;
  font-size: 14px;
  color: $dark-color;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 16px;
}

.hide {
  display: none;
}

@mixin primaryBtn() {
  width: 180px;
  padding: 15px;
  background-color: white;
  color: $accent-color;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

@mixin secBtn() {
  width: 180px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}

.accentBtn {
  @include primaryBtn();
  width: 100%;
  background-color: $accent-color;
  color: white;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: $accent-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.error-section {
}
.img-row {
  display: flex;
  align-items: flex-start;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  > ul {
    top: 70px;
    background-color: white;
    color: $dark-color;
    width: 100px;
    min-height: 100px;
    border-radius: 5px;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.11) 0px 8px 24px;

    li {
      padding: 10px;
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
    }

    li:hover {
      color: $accent-color;
      font-weight: 600;
      transition: 0.3s ease-in;
    }
  }
}

#pr-image {
  cursor: pointer;
}
